<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appSettings>
		<clear />
	</appSettings>

	<system.web>
		<httpRuntime maxRequestLength="102400" maxUrlLength="102400" maxQueryStringLength="10000" requestValidationType="System.Web.Util.RequestValidator" />

		<httpModules>
			<clear />
		</httpModules>

		<httpHandlers>
			<clear />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />     
		<rewrite>
			<rules>
				<clear />
				<rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule> 
        <rule name="new-api-reference-redirect" enabled="true">
          <match url="api/html/(.*)" ignoreCase="true" />
          <action type="Redirect" url="api" redirectType="Permanent" />
        </rule>

				<rule name="index" enabled="true" stopProcessing="true">
					<match url="^/?$" />
					<action type="Redirect" url="introduction" redirectType="Found" />
				</rule>   
                {% for directory in site.redirect_directories %}
				<rule name="redirect-{{ directory.path | replace: '/', '-' }}" enabled="true">
					<match url="^{{ directory.path }}/?$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Redirect" url="{{ directory.url }}" redirectType="Permanent" />
				</rule>
                {% endfor %}
                {% for page in site.redirect_pages %} {% for redirect in page.previous_url %}
				<rule name="redirect-{{ redirect | remove_first: '/' | replace: '/', '-' }}" enabled="true" stopProcessing="true">
					<match url="^{{ redirect | remove_first: '/' }}$" />
					<action type="Redirect" url="{{ page.url | remove_first: '/' | replace: '.html', '' }}" />
				</rule>
                {% endfor %}{% endfor %}
				<rule name="Convert to lower case" enabled="true">
					<match url="^([^?]*[A-Z][^?]*)(\?.*)?" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
					</conditions>
					<action type="Redirect" url="{ToLower:{R:1}}{ToLower:{R:2}}" redirectType="Permanent" />
				</rule>

				<rule name="Hide .html ext" enabled="true">
					<match ignoreCase="true" url="^(.*)"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" pattern="\.png|\.css|\.jpg|\.gif" negate="true" />
						<add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
					</conditions>
					<action type="Rewrite" url="{ToLower:{R:0}.html}"/>
				</rule>

				<rule name="Redirecting .html ext" enabled="true">
					<match url="^(.*)[.]html$"/>
					<conditions logicalGrouping="MatchAny">
						<add input="{URL}" pattern="(.*)[.]html$"/>
					</conditions>
					<action type="Redirect" url="{ToLower:{R:1}}"/>
				</rule>

				<rule name="copyright" enabled="true" stopProcessing="true"> 
					<match url="^licensing/copyright"/>
					<action type="Redirect" url="copyright"/>
				</rule>

				<rule name="license-agreement" enabled="true" stopProcessing="true">
					<match url="^licensing/license-agreement"/>
					<action type="Redirect" url="distribution-and-licensing/license-agreement"/>
				</rule>
				<rule name="personal-data-collection" enabled="true" stopProcessing="true">
					<match url="personal-data-collection"/>
					<action type="Redirect" url="distribution-and-licensing/personal-data-collection"/>
				</rule>
				<rule name="redistributing-telerik-document-processing" enabled="true" stopProcessing="true">
					<match url="installation-and-deployment/redistributing-telerik-document-processing"/>
					<action type="Redirect" url="distribution-and-licensing/redistributing-telerik-document-processing"/>
				</rule>
				<rule name="trial-license-limitations" enabled="true" stopProcessing="true">
					<match url="licensing/trial-license-limitations"/>
					<action type="Redirect" url="distribution-and-licensing/trial-license-limitations"/>
				</rule>

				<rule name="getting-started" enabled="true" stopProcessing="true">
					<match url="^getting-started"/>
					<action type="Redirect" url="getting-started/getting-started"/>
				</rule>
				<rule name="installing-on-your-computer" enabled="true" stopProcessing="true">
					<match url="^installation/installing-on-your-computer"/>
					<action type="Redirect" url="getting-started/installation/installing-on-your-computer"/>
				</rule>
				<rule name="pdf-export" enabled="true" stopProcessing="true">
					<match url="^pdf-export"/>
					<action type="Redirect" url="getting-started/installation/pdf-export"/>
				</rule>
				<rule name="system-requirements" enabled="true" stopProcessing="true">
					<match url="installation-and-deployment/system-requirements"/>
					<action type="Redirect" url="getting-started/installation/system-requirements"/>
				</rule>	

				<rule name="integration-with-visual-studio" enabled="true" stopProcessing="true">
					<match url="installation-and-deployment/integration-with-visual-studio"/>
					<action type="Redirect" url="integration/integration-with-visual-studio"/>
				</rule>
				<rule name="upgrade-instructions" enabled="true" stopProcessing="true">
					<match url="installation-and-deployment/upgrade-instructions"/>
					<action type="Redirect" url="upgrade/upgrade-instructions"/>
				</rule>
				<rule name="for-more-help" enabled="true" stopProcessing="true">
					<match url="for-more-help"/>
					<action type="Redirect" url="introduction"/>
				</rule>	
				<rule name="xls" enabled="true" stopProcessing="true">
					<match url="radspreadprocessing/formats-and-conversion/xls/(.*)"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="libraries/radspreadprocessing/formats-and-conversion/import-and-export-to-excel-file-formats/xls/{R:1}"/>
				</rule>
				<rule name="xlsx" enabled="true" stopProcessing="true">
					<match url="radspreadprocessing/formats-and-conversion/xlsx/(.*)"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" />
					</conditions>
					<action type="Redirect" url="libraries/radspreadprocessing/formats-and-conversion/import-and-export-to-excel-file-formats/xlsx/{R:1}"/>
				</rule>
			</rules>
		</rewrite>
		<httpProtocol> 
			<customHeaders> 
				<add name="Cache-Control" value="no-cache" /> 
			</customHeaders> 
		</httpProtocol> 

		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
		    <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" />
            <error statusCode="404" path="40x.html" />
       </httpErrors>

	</system.webServer>

</configuration>
