

<div id="logo-bar">
	<a href="/devtools/dpl/introduction" title="Document Processing">
		<span>Document Processing</span>
	</a>
</div> 
<div id="page-search">
	{% include search.html %}
</div>

<span class="show-search">
	<span class="k-icon k-i-search"></span>
</span>

<div class="nav-buttons">
	<a href="http://www.telerik.com/support/demos" title="Demos" target="_blank" class="btn demos-btn">Demos</a>	
	<a href="http://www.telerik.com/devcraft" title="About DevCraft" target="_blank" class="btn about-btn">About</a>
	<a href="http://www.telerik.com/purchase.aspx" title="Pricing" target="_blank" class="btn pricing-btn">Pricing</a>
	<a href="http://www.telerik.com/download" title="Try now" target="_blank" class="btn btn-primary">Try now</a>
</div>



